.App {
  text-align: center;
  display: flex;
  justify-content:space-around;
  margin-top: 15vh;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 1rem;
}

.btn__wrapper {
  display: flex;
  justify-content: space-between;
}

button {
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
}

.btn__wrapper .btn__submit {
  background-color: darkslateblue;
  color: white;
}