<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="style.css"/>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css"/>

        <style>
        ul.navbar-nav {
            list-style: none; /* Remove the bullet */
            display: inline; /* Display the list items inline */
            float:right;
            font-size:20px
            
        }
        
        ul.navbar-nav li {
            display: inline-block; /* Make the list items display inline */
        }
        a:link {
    text-decoration: none;
}




a:visited {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
}


a:active {
    text-decoration: none;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}


 footer {
            background-color: #343a40;
            color: #ffffff;
            padding: 10px;
        }

        footer .navbar-text {
            margin-bottom: 0;
        }


    </style>
</head>
<body>