<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('partials/navbar.ejs') %>
    <h1><%= title %></h1>
    <div id="contact-wrapper">
      <a href="https://github.com/leonardo-pinto">
        <img id="github-icon" src="/images/github.png" alt="github icon" />
      </a>
      <a href="https://www.linkedin.com/in/leoanpinto/">
        <img
          id="linkedin-icon"
          src="/images/linkedin.png"
          alt="linkedin icon"
        />
      </a>

      <a href="mailto:leonardoan.pinto@gmail.com">
        <img id="email-icon" src="/images/email.png" alt="email icon" />
      </a>
      <%- include('partials/footer.ejs') %>
    </div>
  </body>
</html>
