<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('partials/navbar.ejs') %>

    <h1><%= title %></h1>
    <h3 id="mission-title">My Mission</h3>
    <p id="my-mission">
      To leverage cutting-edge technology, innovation, and expertise to create
      exceptional software solutions that empower businesses and individuals
      alike. I am committed to delivering reliable, efficient, and scalable
      software that not only meets but exceeds the expectations of our clients
      and users. With a relentless focus on quality, security, and user
      experience, I strive to drive positive change in the digital world, making
      technology accessible and beneficial to all. My passion for coding and
      problem-solving fuels my continuous pursuit of excellence, enabling me to
      build a brighter, more connected, and technologically advanced future for
      everyone.
    </p>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
